@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background: url('../../src/assets/background-wave.svg') no-repeat fixed;
  background-size: cover;
}

.listItem {
  display: inline-block;
  position: relative;
}

.listItem::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.listItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 1024px) {
  .card {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
    transition: ease 1s;
  }

  .card.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }

  .card:nth-child(2) {
    transition-delay: 200ms;
  }

  .card:nth-child(3) {
    transition-delay: 400ms;
  }

  .card:nth-child(4) {
    transition-delay: 600ms;
  }

  .skills {
    filter: grayscale(100%);
    transition: ease 0.4s;
  }

  .skills:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
  }
}
