@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Mono', monospace;
}

.listItem {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.listItem::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 0.2rem;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.listItem:hover::after {
  right: 0;
}

@media screen and (min-width: 1024px) {
  .card {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
    transition: ease 1s;
  }

  .card.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }

  .card:nth-child(3),
  .card:nth-child(4) {
    transition-delay: 400ms;
  }

  .skills img {
    transition: ease 0.4s;
  }

  .skills img:hover {
    transform: scale(1.3);
  }
}
